<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed == false %>
  <p>This task is not completed !</p>
<% elsif @task.completed == true  %>
   <p>This task is completed !</p>
<% end %>
